/* reset css */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: url("../assets/travel.jpeg");
	background-position: center;
	backdrop-filter: blur(2px);
	background-size: cover;
	/* background: #f1f1f1; */
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 60%;
	background: #f1f1f1b0;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-onglets {
	background: #f1f1f1;
	width: 100%;
	height: 20%;
	display: flex;
	border-bottom: 1px solid #3333;
	text-overflow: ellipsis;
	overflow: hidden;
}
.onglets:nth-child(1) {
	background: green;
}
.onglets:nth-child(2) {
	background: red;
}
.onglets:nth-child(3) {
	background: rgb(255, 208, 0);
}
.onglets {
	width: 34%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
/* border right sur les elements 1 et 2 */
.onglets:not(:nth-child(3)) {
	border-right: 1px solid #3333;
}

.onglets p {
	text-overflow: ellipsis;
	overflow: hidden;
}
/* mise en page */

.contenus {
	height: 80%;
	width: 100%;
	position: absolute;
	opacity: 0;
	overflow: auto;
}

.contenus p,
.contenus h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
	padding: 18px;
}

.contenus hr {
	width: 20%;
	height: 2px;
	margin-left: 18px;
	background: #000;
	border: none;
}
/* animation */

.active-onglets {
	background: none;
	color: #f1f1f1;
	transition: all 0.3s ease;
}
.active-contenus {
	animation: fade 0.8s forwards;
}

@keyframes fade {
	form {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
